.vscode/*
mathPractice/a.out
mathPractice/twoDigitSquare.c
graphExecution/graphObject.dSYM/*
graphExecution/typeCheck.dSYM/Contents/Info.plist
graphExecution/typeCheck.dSYM/Contents/Resources/DWARF/typeCheck
operations/tests/*.out
graphExecution/.DS_Store
.DS_Store
casio/bin/cpp/*.out
/casio/physics/ans_raw.txt
/casio/physics/raw.txt
/casio/physics/s.py
/casio/physics/search.py
*.txt
