.vscode/*
mathPractice/a.out
mathPractice/twoDigitSquare.c
graphExecution/graphObject.dSYM/*
graphExecution/typeCheck.dSYM/Contents/Info.plist
graphExecution/typeCheck.dSYM/Contents/Resources/DWARF/typeCheck
operations/tests/*.out
